<!DOCTYPE html>
<html lang="en">
   <head>
     <title>movie</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
      <link rel="stylesheet" href="templates/bootstrap.min.css"/>  
   </head>
   <body id="content">
    <div class="results">
        <center>
          <h2 id="name" class="text-uppercase">{{title}}</h2>
        </center>
    </div>
    <br>

    <div id="mycontent">
        <div id="mcontent">
          <div class="poster-lg">
            <img class="poster" style="border-radius: 40px;margin-left: 90px;" height="300" width="300" src={{poster}}>
          </div>
          <div class="poster-sm text-center">
            <img class="poster" style="border-radius: 40px;margin-bottom: 5%;" height="400" width="250" src={{poster}}>
          </div>
          <div id="details">
            <br/>
            <h6 id="title" style="color:white;">TITLE: &nbsp;{{title}}</h6>
            <h6 id="overview" style="color:white;max-width: 85%">OVERVIEW: <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{overview}}</h6>
            <h6 id="vote_average" style="color:white;">RATING: &nbsp;{{vote_average}}/10 ({{vote_count}} votes)</h6>
            <h6 id="genres" style="color:white;">GENRE: &nbsp;{{genres}}</h6>
            <h6 id="date" style="color:white;">RELEASE DATE: &nbsp;{{release_date}}</h6>
            <h6 id="runtime" style="color:white;">RUNTIME: &nbsp;{{runtime}}</h6>
            <h6 id="status" style="color:white;">STATUS: &nbsp;{{status}}</h6>
          </div>
        </div>
    </div>
    <br/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='recommend.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>
